*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @include media("<tablet") {
    font-size: 50%;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  font-weight: $font-regular;
  font-size: $font-size-primary;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}

ol,ul,li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a, a:hover{
  text-decoration: none;
}

h1,h2,h3,h4,h5 {
  margin:0;
}
