.background {
  min-height: 30rem;
  padding: 3rem 7rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color:$color-light;
  &__title {
    font-size: 36px;
    font-family: $font-primary;
    font-weight: $font-bold;
    color: $color-light;
    letter-spacing: 2.5px;
  }
  &--img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &--center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &--large {
    min-height: 60rem;
  }
}

.background .breadcrumb {
  background:none;
  .breadcrumb__item a {
    color: $color-light;
  }
}

