// 1. navbar header
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: unset;
  flex-wrap: wrap;
  position: relative;
  // @media (min-width: 768px) {
  //   .btn--open, .btn--close {
  //     display: none;
  //   }
  // }
  // .btn--close {
  //   display: none;
  // }
  &__collapse {
    z-index: 1;
    flex-grow: 1;
    text-align: center;
    position: relative;
    display: none;
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .navbar__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
      }
    }
  }
  &__item {
    padding:15px 20px;
    position: relative;
  }
  &__link {
    font-size: 14px;
    color:black;
    font-weight: bold;
    line-height: 24px;
  }
}

// navbar-toggler
.navbar__toggler {
  cursor: pointer;
  outline: none;
  border: unset;
  background: none;
  float: right;
  right: 0;
  position: absolute;
  z-index: 2;
  i {
    color: $color-dark;
    cursor: pointer;
    font-size: 30px;
  }
  @media (min-width:768px) {
    display: none;
  }
}
.navbar__collapse.active {
  display: block;
}
// 2. navbar footer
.navbar--light {
  color: $font-light;
  .navbar__list {
    margin: auto;
    display:flex;

  }
  .navbar__link {
    color: $color-light;
  }
}

// 3.sub menu
.sub-menu {
  background-color:$color-dark;
  text-align: left;
  padding: 3rem;
  position: absolute;
  top: 100%;
  left: -5%;
  min-width: max-content;
  display: none;
  &__link {
    color: $color-light;
    font-size: 13px;
    line-height: 34px;
    display: block;
  }
  .active {
    color: $color-active;
  }
}

.navbar__item:hover > ul.sub-menu::after {
  content: "";
  width: 0;
  height: 45px;
  border: 1px solid $color-active;
  top: -14%;
  left: 22%;
  position: absolute;
}
//hover
.navbar__item > ul.sub-menu > li > a.sub-menu__link:hover {
  color: $color-active;
  transition: 0.3s ease all;
}
.navbar__item:hover  > ul.sub-menu {
  display: block;
}


