//home page
// 1. menu
.header .search {
  right: 0;
}
// 1. section intro
.intro {
  max-width: 92rem;
}

// 2. section home
// home
.home {
  position: relative;
  .category {
    font-size: 12px;
    color: $color-secondary;
    letter-spacing: 0.2rem;
    padding-left: 7.7rem;
    @include pos-left-center;
    transform: translateY(-50%) rotate(-90deg);
  }
  &__icon {
    position: absolute;
    bottom: 0;
    left: 10%;
    transform: translateY(50%);
    z-index: 2;
  }
}
.home .title--home {
  position: absolute;
  left: 0;
  bottom: 0;
  padding:6.5rem 7.7rem;
  max-width: 70rem;
}
//slide home
.home .swiper-pagination.swiper-pagination-bullets{
  position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
  transform: rotate(90deg);
  width: max-content;
  padding: 7.8rem;
}

// 3. section home-gallery
.home-gallery {
  position: relative;
  margin-bottom: 19rem;
  .swiper-container {
    max-width: 97rem;
    margin: auto;
  }
  .home-gallery__inner::after {
    content: "";
    width: 99%;
    height: 89%;
    background-color: #F6F6F6;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 26%);
    z-index: -2;
  }
  .home-gallery__inner::before {
    content: "";
    width: 87%;
    height: 90%;
    background-color:$color-bg ;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 13%);
    z-index: -1;
  }
  .home-gallery__desc {
    max-width: 48rem;
    padding-top: 3rem;
    font-weight: $font-bold;
    color: $color-dark;
    padding-bottom: 3rem;
  }
  .category {
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: $font-semibold;
    font-family: $font-secondary;
    color: $color-dark;
    transform: rotate(-90deg);
    display: inline-block;
    position: relative;
    position: absolute;
    top: 30%;
    left: 6%;
  }
  .category::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100px;
    border: 1px solid $color-quaternary;
    transform: translate(-145%, -50%);
  }
  //slide home-gallery
  .swiper-pagination {
    font-family: $font-secondary;
    font-size: 24px;
    line-height: 26px;
    position: absolute;
    bottom: 2.2rem;
    right: 2.2rem;
    left: auto;
    width: max-content;
    span.swiper-pagination-current {
      font-size: 48px;
      color: $color-secondary;
    }
  }
  // button next & prev
  .swiper-button {
    position: absolute;
    bottom: 2.2rem;
    left: 2.2rem;
    z-index: 2;
    width: max-content;
    .swiper-button-next:after,
    .swiper-button-prev:after {
      content: "";
    }
  }

  .prev, .next {
    font-size: 36px;
    color: $color-light;
    transition: all 0.6s ease;
  }
  .prev {
    transform: rotate(180deg);
    display: inline-block;
  }
  .next {
    left: 4rem;
  }
  .active {
    color: $color-secondary;
  }
}

// 4. section home post
.home-post {
  .slide-container {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .slide__content {
    width: 100%;
  }
}
.home-post .swiper-pagination.swiper-pagination-bullets ,
 .service-slide .swiper-pagination.swiper-pagination-bullets {
  position: absolute;
  top: 50%;
  right: 0;
  left: auto;
  transform: translateY(-50%) rotate(90deg);
  width: max-content;
}

// 5. section form-reply
section.form-reply {
  margin-left: 50%;
  transform: translateX(-50%);
}

// 6. section gallery
//home-gallery-menu
.gallery-menu {
  display: flex;
  flex-direction: row;
  min-width: 20rem;
  font-size: 14px;
  color: #A3A3A3;
  padding: 0 3rem;
  @media (min-width: 768px) {
    flex-direction: column;
    &__item {
      padding-bottom: 1.3rem;
    }
  }
  ul {
    display: flex;
    @media (min-width: 768px) {
      display: block;
    }
  }
  &__item {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    position: relative;
    // transition: all 0.6s ease;
  }
  &__item:hover {
    cursor: pointer;
  }
  .active {
    color: $color-dark;
  }
  &__item.active::after, &__item:hover::after {
    content: "";
    width: 20px;
    height: auto;
    border-top: 0.5px solid $color-dark;
    position: absolute;
    top: 30%;
    left: -20%;
    cursor: pointer;
  }
}
//gallery container
.gallery-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

